{% load static %}
{% load get_item_category %}
{% load thumbnail %}

<!doctype html>
<html lang="en">
<head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700, 900|Vollkorn:400i" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<!--  <div id="overlayer"></div>-->
<!--  <div class="loader">-->
<!--    <div class="spinner-border text-primary" role="status">-->
<!--      <span class="sr-only">Loading...</span>-->
<!--    </div>-->
<!--  </div>-->

<!-- navbar begins here-->
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">
        <div class="row align-items-center">

          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="{% url 'pawsnepal_app:dashboard-home' %}" class="h2 mb-0">PawsNepal<span class="text-primary">.</span>
              </a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="{% url 'pawsnepal_app:dashboard-home' %}" class="nav-link">Home</a></li>
                <li class="has-children">
                  <a href="{% url 'pawsnepal_app:shop' %}" class="nav-link">Visit Store</a>

                    <ul class="dropdown">
                    {% for obj in item_categories %}
                    <li><a href="{% url 'pawsnepal_app:shop' %}?category={{obj}}" class="nav-link">{{ obj }}</a></li>
                    {% endfor %}

                    {% for obj in brand_list %}
                    <li><a href="{% url 'pawsnepal_app:shop' %}?brand={{obj}}" class="nav-link">{{ obj }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                <li><a href="{% url 'pawsnepal_app:blog-list' %}" class="nav-link">Dogopedia</a></li>
                <li> <a href="{% url 'pawsnepal_app:dashboard-home' %}#services-section" class="nav-link"> Services</a></li>
                <li class="has-children">
                  <a class="nav-link">Category</a>
                  <ul class="dropdown">
                    <li><a href="{% url 'pawsnepal_app:dashboard-home' %}#faq-section" class="nav-link">FAQ</a></li>
                    <li><a href="{% url 'pawsnepal_app:dashboard-home' %}#testimonials-section" class="nav-link">Testimonials</a></li>
                    <li><a href="{% url 'pawsnepal_app:dashboard-home' %}#gallery-section" class="nav-link">Gallery</a></li>
                  </ul>
                </li>

                <li><a href="{% url 'pawsnepal_app:dashboard-home' %}#about-section" class="nav-link">About Us</a></li>
                <li class="nav-link">
                  <form  action="{% url 'pawsnepal_app:shop' %}" class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2  mb-2   px-5" type="search" placeholder="Search  Items Here" aria-label="Search"
                    id="search_item_keyword" name="search_item_keyword">
                    <button class="btn btn-outline-primary  my-2 my-sm-0" type="submit">Search </button>
                  </form>
                </li>
              </ul>
            </nav>
          </div>

          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#"
              class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>
        </div>
      </div>

    </header>
    <!-- navbar ends here-->

<div class="site-wrap">

    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong
                        class="text-black">Blog List</strong></div>
            </div>
        </div>
    </div>

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <section class="site-section">
        <div class="container">
            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-6 text-center heading-section mb-5">
                    <div class="paws">
                        <span class="icon-paw"></span>
                    </div>
                    <h2 class="text-black mb-2">Blog List</h2>

                </div>
            </div>

            {% if is_searched_result %}
            <div class="alert alert-danger" role="alert">
                No result matched !
            </div>
            {% endif %}
            <div class="row hover-1-wrap mb-5 mt-5 mb-lg-0">

                {% for obj in object_list %}
                <div class="col-md-6 col-lg-6 mb-4 mt-4">
                    <div class="row mb-4">
                        <div class="mb-4 mb-lg-0 col-lg-6 col-md-6 " data-aos="fade-left">
                            <a href="#" class="hover-1">
<!--                                <img src="{{ obj.image.url }}" alt="Image" class="img-fluid">-->
                                <img src="{{ obj.image|thumbnail_url:'avatar' }}" alt="Image" class = "img-fluid" />
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-6 mt-2" data-aos="fade-right">
                            <a href="{% url 'pawsnepal_app:blog-detail' obj.id %}" > <h2 class="text-black">{{obj.title}}</h2></a>
                            <p class="mb-4">{{obj.introduction|truncatechars:150}}</p>
                            <p><a href="{% url 'pawsnepal_app:blog-detail' obj.id %}" class="btn btn-primary">Read
                                More</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <div class="row mt-5 justify-content-center">

                {% if is_paginated %}

                <nav aria-label="my-nav">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"> << </a></li>
                        {% endif %}
                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"> >> </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
                        {% endif %}
                    </ul>
                </nav>
                    {% endif %}
            </div>
        </div>
    </section>
    <!-- home ends here-->

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-5">
                            <form action="#" class="contact-form" style="margin:0px">
                                <h2 class="h4 mb-2 heading">Contact Us</h2>
                                <div class="row form-group">
                                    <div class="col-md-6 mb-3 mb-md-0">
                                        <label for="fname">First Name</label>
                                        <input type="text" id="fname" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="lname">Last Name</label>
                                        <input type="text" id="lname" class="form-control">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="email">Email</label>
                                        <input type="email" id="email" class="form-control">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="subject">Subject</label>
                                        <input type="text" id="subject" class="form-control">
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message" cols="30" rows="7" class="form-control"
                                                  placeholder="Write your notes or questions here..."></textarea>
                                    </div>
                                </div>

                                <div class="row form-group">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary text-black" type="button"
                                                id="button-send-message" style="background-color:white">Send Message
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3 ml-auto">
                            <h2 class="footer-heading mb-4">Quick Links</h2>
                            <ul class="list-unstyled">
                                <li><a href="#about-section" class="smoothscroll">About Us</a></li>
                                <li><a href="#trainers-section" class="smoothscroll">Trainers</a></li>
                                <li><a href="#services-section" class="smoothscroll">Services</a></li>
                                <li><a href="#testimonials-section" class="smoothscroll">Testimonials</a></li>
                                <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h2 class="footer-heading mb-4">Follow Us</h2>
                            <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                    <form action="#" method="post" class="footer-subscribe">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control border-secondary text-white bg-transparent"
                                   placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-black" type="button" id="button-addon2">Send
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p class="copyright"><small>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>
                            All rights reserved | This template is made
                            with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://lnx.com"
                                                                                                 target="_blank">SPD</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </small></p>

                    </div>
                </div>

            </div>
        </div>
    </footer>


    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>


</body>
</html>